<html>
    <style>
        .aboutMe {
            border: solid white 0px !important;
            border-left: solid rgb(174, 234, 255) !important;
            border-radius: 0px !important;
            table-layout: auto !important;
        }
    </style>
    <body>
        <h1 style="color: rgb(80, 208, 255) !important;">About Me</h1>
        <table class="aboutMe">
            <tr>
                <th><p>Hello, my name is Travis and I love to play football. I have a mom, dad, brother, cat, and dog.</p></th>
            </tr>
            <tr>
                <th><p>My favorite topics/things</p> </th>
            </tr>
            <tr>
                <th><p>hi</p></th>
            </tr>
        </table>
    </body>
</html>
