<html>
    <style>
        #MoneyCount {
            font-family: monospace;
        }
        #roll {
            text-align: center;
            margin:auto;
            font-size: 50px;
            background-color: rgba(192, 255, 97, 0.482) !important;
            border-radius: 25px;
            border-color: greenyellow;
            width: 50%;
        }
        #rollingDiv {
            display: inline-block;
            align-items:center;
            justify-content: center;
            width:75%;
        }
        #output{
            font-family: monospace;
        }
        .bidBtn {
            width:100px;
            height:100px;
            font-size: 70px;
            border-radius: 25px;
        }
        #incAmt{
            height:50px;
            width:250px;
            font-size: 50px;
            font-size-adjust: inherit;
            border-radius: 25px;
        }
    </style>
    <body>
        <h2 id="MoneyCount">Money: .....</h2>
        <div id="rollingDiv">
            <table><tr><th><h1 id="output">Roll For Money</h1></th></tr></table>
            
            <button id="roll" onclick="roll()">ROLL</button>
        </div>
        <div id="bidDiv">
            <h1 id="bidAmt">Current Bid: ...</h1>
            
            <button id="incBid" class="bidBtn" onclick="bidBtn('add')">+</button>
            <input type="text" id="incAmt" placeholder="Add Bid">
            <button id="decBid" class="bidBtn" onclick="bidBtn('sub')">-</button>
            
        </div>
        <h4 id="moneySpent" style="color:red;">Money Spent: </h4>
        <h4 id="moneyWon" style="color:green;">Money Won: </h4>
    </body>
    <script>
        var Money = 150;
        var moneyInc = 10;
        var moneySpent = 0;
        var moneyWon = 0;
        var isRolling = false;
        var moneyCount = document.getElementById("MoneyCount");
        var rollBtn = document.getElementById("roll");
        var outputText = document.getElementById("output");
        var bidText = document.getElementById("bidAmt");
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function refreshMoney(){
            moneyCount.innerHTML = "Money: "+Money.toString();
        }
        function refreshBid(){
            bidText.innerHTML = "Current Bid: "+moneyInc.toString();
        }
        async function rolling(){
            for (let i = 0; i < 15; i++) {
                var audio = new Audio('{{site.baseurl}}/images/click.wav');
                audio.play();
                await sleep(100);
                outputText.style = "color: rgb(0,0,0,1);"
                await sleep(20);
                var d = Math.random();
                if (d < 0.25){
                    // 70% chance of being here
                    outputText.innerHTML = "YOU LOST";
                    outputText.style = "color: rgb(255, 60, 60, 0.5);"
                }else if (d < 0.35){
                    outputText.innerHTML = "No Profit but you won: " + (moneyInc*0.5).toString();
                    outputText.style = "color: rgb(255, 138, 138, 0.5);"
                }else if(d < 0.45){
                    outputText.innerHTML = "REFUND: " +(moneyInc).toString();
                    outputText.style = "color: rgb(211, 211, 211, 0.5);"
                }else if (d < 0.57){
                    outputText.innerHTML = "!!!!YOU WON THE JACKPOT!!!!!: " + (moneyInc*20).toString();
                    outputText.style = "color: rgb(255, 208, 0, 0.5);"
                }else if (d < 0.9){
                    // 10% chance of being here
                    outputText.innerHTML = "YOU WON: " + (moneyInc*2 + moneyInc).toString();
                    outputText.style = "color: rgb(83, 255, 53, 0.5);"
                }else{
                    // 30% chance of being here
                    outputText.innerHTML = "YOU WON: " + (moneyInc + moneyInc).toString();
                    outputText.style = "color: rgb(185, 255, 114, 0.5);"
                }
                
            }
            console.log('Done');
            var e = Math.random();
                if (e < 0.4){
                    // 70% chance of being here
                    outputText.innerHTML = "YOU LOST";
                    outputText.style = "color: rgb(255, 60, 60);"
                }else if (e < 0.5){
                    Money += moneyInc*0.5;
                    moneyWon += moneyInc*0.5;
                    outputText.innerHTML = "No Profit but you won: " + (moneyInc*0.5).toString();
                    outputText.style = "color: rgb(255, 138, 138);"
                }else if (e < 0.6){
                    Money += moneyInc;
                    moneyWon += moneyInc;
                    outputText.innerHTML = "REFUND: " +(moneyInc).toString();
                    outputText.style = "color: rgb(211, 211, 211);"
                }else if (e < 0.61){
                    Money += moneyInc*20 + moneyInc;
                    moneyWon += moneyInc*20;
                    outputText.innerHTML = "!!!!YOU WON THE JACKPOT!!!!!: " + (moneyInc*20).toString();
                    outputText.style = "color: rgb(255, 208, 0);"
                    var waudio = new Audio('{{site.baseurl}}/images/win.wav');
                    waudio.play();
                }else if (e < 0.75){
                    // 10% chance of being here
                    Money += moneyInc*2 + moneyInc;
                    moneyWon += moneyInc*2 + moneyInc;
                    outputText.innerHTML = "YOU WON: " + (moneyInc*2 + moneyInc).toString();
                    outputText.style = "color: rgb(83, 255, 53);"
                }else{
                    // 30% chance of being here
                    Money += moneyInc + moneyInc;
                    moneyWon += moneyInc + moneyInc;
                    outputText.innerHTML = "YOU WON: " + (moneyInc + moneyInc).toString();
                    outputText.style = "color: rgb(185, 255, 114);"
                }

                document.getElementById("moneyWon").innerHTML = "Money Won: "+(moneyWon).toString();
                refreshMoney();
                isRolling = false;
        }
        function roll(){
            if (Money >= moneyInc && isRolling == false){
                isRolling = true;
                Money -= moneyInc;
                refreshMoney();
                moneySpent += moneyInc
                document.getElementById("moneySpent").innerHTML = "Money Spent: "+(moneySpent).toString();
                rolling();
            }
        }
        
        function bidBtn(typeOfBtn){
            var increment = document.getElementById("incAmt").value;
            if(typeOfBtn == "add"){
                if(increment){
                    moneyInc += Number(increment);
                    refreshBid();
                }
            }else if(typeOfBtn == "sub"){
                if(increment && moneyInc-increment >= 0){
                    moneyInc -= Number(increment);
                    refreshBid();
                }
            }
        }

        refreshMoney();
        refreshBid();

    </script>
</html>