<html>
    <style>
        h1,h2,h3,h4,h5,h6,p,li{
            font-family: monospace !important;
        }
        .aboutMe {
            border: solid white 0px !important;
            border-left: solid rgb(174, 232, 255) !important;
            border-radius: 0px !important;
            table-layout: auto !important;
        }

        li{
            font-weight: normal;
            font-size: 17.5px;
            color:rgba(116, 206, 255, 0.533) !important;
        }
        .abtMeList{
            list-style-type: "» ";
        }

        img{
            border-radius: 25px;
            width: auto;
            float:left;
            margin: 10px 15px 0px 0px;
        }
        div{
            clear:both;
        }
        h3,h2{
            color:rgba(116, 211, 255, 0.953) !important;
        }
        .navLink {
            color: black;
            background: aliceblue;
        }

        .navBtn {
            color: rgb(255, 253, 249) !important;
            background-color: rgba(229, 242, 255, 0.274) !important;
            background: aliceblue;
            border-color: aliceblue;
            border-radius: 35px;
            font-size: 20px;
            transition: font-size, background-color, border-color;
            transition-duration: 0.3s;
            transition-delay: 0s;
            font-family: monospace;
            display: inline-block;
            padding: 7px;
            
        }
        .navBtn:hover {
            border-color: rgb(128, 192, 255);
            background: fixed;
            background-color: rgba(108, 196, 255, 0.5) !important;
            font-size: 25px;
        }

        button {
            color:aqua;
        }

        .navBarTable {
            border-collapse: separate !important;
            border: solid rgb(232, 247, 255) 2px !important;
            border-radius: 35px !important;
            position:fixed;
            bottom:0px;
            width:57.5%;
        }
        .navTd, .navTr {
            border: solid rgb(109, 206, 255) 0px !important;
        }
    </style>
    <body>
        <h1 style="color: rgb(138, 208, 255) !important;">The MCQ</h1>

        <h2>Problems I Struggled With: </h2>
        <table class="aboutMe">
            <tr>
                <th>
                    <h2 id="basicCode">Question: 5</h2>
                    <img src="{{site.baseurl}}/images/q5.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I was rushing at first because I thought it was due by the end of class which resulted in me getting this incorrect.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 13</h2>
                    <img src="{{site.baseurl}}/images/q13.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>The teacher said to work in teams and my teammate got this answer and I didn't decide to check his answer to see if it was correct.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 14</h2>
                    <img src="{{site.baseurl}}/images/q14.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>The teacher said to work in teams and my teammate got this answer and I didn't decide to check his answer to see if it was correct.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 19</h2>
                    <img src="{{site.baseurl}}/images/q19.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I did not realize people would want to have books that are older/newer when answering this question.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 23</h2>
                    <img src="{{site.baseurl}}/images/q23.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I did not realize all of the computers could be linked with one line.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 24</h2>
                    <img src="{{site.baseurl}}/images/q24.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I did not fully understand what lossless transformations when answering this.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 25</h2>
                    <img src="{{site.baseurl}}/images/q25.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I thought it was talking about the current principals of replacing all instances of "TH" with "%" and replacing all instances of "IS" with "#".</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 35</h2>
                    <img src="{{site.baseurl}}/images/q35.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I was thinking that taking samples from no-rights-reserved companies would be an obvious violation of copyright laws, but I guess I did not fully understand what it meant.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 40</h2>
                    <img src="{{site.baseurl}}/images/Q40.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I did not read the question fully so I did not see the part mentioning the score replacement policy.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 43</h2>
                    <img src="{{site.baseurl}}/images/q43.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I didn't see any time mentioned in the question so I thought the answer of it running fast was out of the question.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 44</h2>
                    <img src="{{site.baseurl}}/images/struggle.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>This question had stumped me and I took a lot of time trying to complete this, but in the end I had gotten it incorrect. My error was thinking it can only go up to 8 (1000) and not 15(1111).</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 45</h2>
                    <img src="{{site.baseurl}}/images/q45.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I thought that it would be true when you do not(a) and not(b) because it should be true if its false and false then wouldn't that be true?</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 46</h2>
                    <img src="{{site.baseurl}}/images/q466.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I thought computers can solve anything and I was thinking that if it outputs anything it would work.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 47</h2>
                    <img src="{{site.baseurl}}/images/q47.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I don't know much about cryptography but now I know it is recipitents private key.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 55</h2>
                    <img src="{{site.baseurl}}/images/q55.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I didn't see the AND in the code, I thought it was OR like the code listed below.</li></ul>
                    <li><pre><code>
PROCEDURE KeepPlaying()
{
    DISPLAY ("Do you want to continue playing (y/n)?")
    response &larr; INPUT
    IF ((response = "y") OR (response = "yes"))
    {
        return(true)
    }
    ELSE
    {
        return(false)
    }
}
                    </code></pre></li>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 56</h2>
                    <img src="{{site.baseurl}}/images/q56.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I didn't understand what the answers meant or anything, I was on this question for a long time  but still didn't understand it.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 58</h2>
                    <img src="{{site.baseurl}}/images/q58.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I didn't know that it did not run in reasonable time.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 59</h2>
                    <img src="{{site.baseurl}}/images/q59.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I thought reducing size requirements would be good and that it would be beneficial so that they can have more.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 64</h2>
                    <img src="{{site.baseurl}}/images/q64.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I didn't know how important redundant routing was. When I was in Cyber Aegis, I was always bad at networking and never understood it.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 65</h2>
                    <img src="{{site.baseurl}}/images/q65.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>When I did the math in my head it was incorrect but I guess I had an error in my mental math.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Question: 66</h2>
                    <img src="{{site.baseurl}}/images/q66.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I thought that since 20 was in the front it would be correct.</li></ul>
                </th>
            </tr>
            
        </table>
        
        <h2>Overview: </h2>
        <table class="aboutMe">
            <tr>
                <th>
                    <h2 id="basicCode">Here is the overview on the topics I struggled with</h2>
                    <img src="{{site.baseurl}}/images/allmymistakestuff.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>I felt pretty good for most of this quiz however I was stumped on some of these topics as shown in the picture..</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">Topic 1.4: Identifying and Correcting Errors</h2>
                    <img src="{{site.baseurl}}/images/q1-4.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>The reasoning as to why I got two of the questions wrong is because I had miscalculated both of the pieces of code because of using mental math.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">2.2: Data Compression</h2>
                    <img src="{{site.baseurl}}/images/q2-2.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>The questions weren't explained enough or I just didn't understand what it was exactly asking for which led to me making mistakes on everything.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">2.3: Extracting Information from Data</h2>
                    <img src="{{site.baseurl}}/images/q2-3.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>For two of the questions, I did not read it fully and for the other question, I did not realize that people want to get books based on their age.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">3.6: Conditionals</h2>
                    <img src="{{site.baseurl}}/images/q3-6.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>For the question I got wrong, I did not see the variable of "is3D".</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">3.8: Iteration</h2>
                    <img src="{{site.baseurl}}/images/q3-8.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>For the question I got wrong, I spent some time looking at it, however I just didn't understand what the answers meant.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">3.17: Algorithmic Efficiency</h2>
                    <img src="{{site.baseurl}}/images/q3-17.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>For the question I got wrong, I did not see anything about time in the question so I just clicked the answer that fit best in my opinion and I crossed out the answer in regards to time but it turned out that the answer I crossed out was correct.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">3.18: Undecidable Problems</h2>
                    <img src="{{site.baseurl}}/images/q3-18.png">
                    <h3>Description:</h3>
                    <ul class="abtMeList"><li>When answering this question, I thought that computers can solve anything.</li></ul>
                </th>
            </tr>
            <tr>
                <th>
                    <h2 id="basicCode">How I can Improve for next time.</h2>
                    <h3>Improvements:</h3>
                    <ul class="abtMeList">
                        <li>I will study next time.</li>
                        <li>I will pay more attention in class because I have a hard time paying attention</li>
                        <li>I will lock in.</li>
                        <li>Overall, my skills will increase during this trimester so I should get good.</li>
                    </ul>
                </th>
            </tr>
        </table>

    </body>
</html>
