<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/navigation/csse">CSSE</a></td>
        <td><a href="{{site.baseurl}}/navigation/csp">CSP</a></td>
        <td><a href="{{site.baseurl}}/navigation/csa">CSA</a></td>
        <td><a href="{{site.baseurl}}/navigation/game">Game</a></td>
        <td><a href="{{site.baseurl}}/navigation/game2.html">Mario Platformer</a></td>
        <td><a href="{{site.baseurl}}//2023/08/30/Calculator.html">Calculator</a></td>
        <td><a href="{{site.baseurl}}//2023/08/31/Snake.html">Snake Game</a></td>
        <td><a href="{{site.baseurl}}//2024/01/30/Final-Project-Test-copy.html">Final Project CSSE 1</a></td>
    </tr>
</table>